{% extends 'base.html'  %}
{% load static %}
{% block title %}Welcome, {{ user.username }}.{% endblock %}
{% block content %}
<div class="kiosk-home-banner"><a href="/">{{ config.office_name }}</a></div>
<ul class="kiosk-home-buttons">
    <a href="/dashboard/">
        <li>
            <div class="kiosk-home-button">
            <p>Dashboard</p>
            <img src="{% static "drchrono/images/icon-dashboard.png" %}"
                 class="kiosk-home-button-icon">
            </div>
        </li>
    </a>
    <a href="/kiosk/">
        <li>
            <div class="kiosk-home-button">
            <p>View Kiosk</p>
            <img src="{% static "drchrono/images/icon-view.png" %}"
                 class="kiosk-home-button-icon">
            </div>
        </li>
    </a>
    <a href="/enable_kiosk/">
        <li>
            <div class="kiosk-home-button">
            <p>Enable Kiosk Mode</p>
            <img src="{% static "drchrono/images/icon-kiosk.png" %}"
                 class="kiosk-home-button-icon">
            </div>
        </li>
    </a>
    <a href="/config/">
        <li>
            <div class="kiosk-home-button">
            <p>Configure</p>
            <img src="{% static "drchrono/images/icon-config.png" %}"
                 class="kiosk-home-button-icon">
            </div>
        </li>
    </a>
    <a href="/logout/">
        <li>
            <div class="kiosk-home-button logout">
            <p>Logout</p>
            <img src="{% static "drchrono/images/icon-logout.png" %}"
                 class="kiosk-home-button-icon">
            </div>
        </li>
    </a>
</ul>
{% endblock %}
