<!DOCTYPE html>
<html>
  <head>
    {% include 'kiosk-head.html' %}
    <title>Check-in</title>
  </head>
  <body>
    {% if not kioskMode %}{% include 'nav.html' %}{% endif %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}
        <a href="#" class="float-right unstyled" onclick="this.parentElement.remove();">✖</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% block content %}{% endblock %}
  </body>
</html>
