/* Home Banner */
.kiosk-home-banner {
    font-family: 'Lobster', cursive;   
    width: 100%;
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #aaa;
    max-width: 980px;
    margin: auto;
}
.kiosk-home-banner a {
    text-decoration: none;
    color: inherit;
}

.kiosk-home-banner a:hover {
    color: green;
}
/* Home Buttons */
.kiosk-home-buttons {
    list-style: none;
    width: 980px;
    margin: auto;
    font-size: 24px;
    padding: 0;
}

.kiosk-home-buttons a {
    text-decoration: none;
    color: inherit;
}

.kiosk-home-button {
    float: left;
    width: 286px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    text-align: center;
    background: #DDD;
    border: 1px solid #AAA;
    border-radius: 10px;
}

.kiosk-home-button:hover {
    background: #aaf;
}

.kiosk-home-button-icon {
    width: 100px;
}

/* Navigation bar */
.navigation {
    width: 100%;
    background: #DDD;
    border-bottom: 1px solid #aaa;
}

.navigation a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 20px;
}

.navigation a.logo {
    font-family: 'Lobster', cursive;   
    padding-top: 18px;
}

.navigation a:hover {
    background: black;
    color: white;
}

.navigation a.logout {
    float: right;
}
    
a.logout:hover, .logout:hover{
    background: crimson;
}


/* Container */
.container {
    width: 980px;
    margin: auto;
    padding: 20px;
}

.center {
    text-align: center;
}

/* Forms */
.form-display {
    background: #ddd;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.form-display label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
}

.form-display input[type="text"] {
    width: 100%;
    padding: 15px;
    height: 100%;
    font-size: 16px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0;
    border-style: solid;
    border: 1px solid #aaa;
}

.form-display textarea {
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0;
    border: 1px solid #aaa;
    padding: 15px;
    height: 150px;
}

.form-display input[type="submit"] {
    width: 500px;
    padding: 20px;
    background: white;
    border: 1px solid #aaa;
    display: block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 50px;
    margin: auto;
}

.form-display input[type="submit"]:hover {
    background: green;
    color: white;
    cursor: pointer;
}

.form-display select {
    width: 100%;
    padding: 20px;
    background: white;
    border: 1px solid #aaa;
    display: block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

/* Dashboard */
.arrivals {
    padding: 0;
}

/* Categorize Later!!! */
.unstyled {
    text-decoration: none;
    color: inherit;
}

.waiting-time {
  clear:both;
}
.waiting-time {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  padding: 10px;
  background: #ddd;
  border-top: 1px solid #aaa;
  width: 100%;
}

.time-header {
  font-weight: bold;
}

.btn {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.btn:hover {
    color: white;
    background: black;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* Flash Messages */
ul.messages {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    list-style: none;
}

ul.messages li {
    margin: auto;
    width: 400px;
    background: white;
    min-height: 80px;
    padding: 20px;
    border: 1px solid #aaa;
}

ul.messages li.error {
    background: crimson;
    color: white;
}

/* Dashboard//Arrivals */
.arrivals {
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
}

.arrival {
    clear: both;
    overflow: auto;
    background: #ddd;
    width: 100%;
}

.in-session {
    background: rebeccapurple;
    padding: 12px;
    margin: 0;
    color: white;
}

.arrival img {
    overflow: hidden;
}

.arrival .arrival-info {
    float: right;
    padding: 20px;
    width: 75%;
    padding-left: 0;
}

.arrival-info h3 {
    border-bottom: 1px dotted #ddd;
}
.arrival-info p, .arrival-info h3 {
    background: white;
    margin: 0;
    padding: 8px;
}

.arrival-info a {
    text-decoration: none;
    color: inherit;
}

.arrival-info a:hover {
    color: rebeccapurple;
}

.arrival .arrival-photo {
    float: left;
    margin: 20px auto;
    text-align: center;
    width: 25%;
}

.arrival .btn {
    background: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0;
    border-top: 1px dotted #ddd;
    margin-left: 10px;
}

.arrival .btn:hover {
    background: black;
    color: white;
}

.arrival.focus {
    border-bottom: 1px solid white;
}
