/* Home Banner */
.kiosk-home-banner {
    font-family: 'Lobster', cursive;   
    width: 100%;
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #aaa;
    max-width: 980px;
    margin: auto;
}
.kiosk-home-banner a {
    text-decoration: none;
    color: inherit;
}

.kiosk-home-banner a:hover {
    color: green;
}
/* Home Buttons */
.kiosk-home-buttons {
    list-style: none;
    width: 800px;
    margin: auto;
    font-size: 24px;
}

.kiosk-home-buttons a {
    text-decoration: none;
    color: inherit;
}

.kiosk-home-button {
    float: left;
    width: 340px;
    padding: 50px;
    margin: 20px;
    box-sizing: border-box;
    text-align: center;
    background: #DDD;
    border: 1px solid #AAA;
    border-radius: 10px;
}

.kiosk-home-button:hover {
    background: black;
    color: white;
}

/* Navigation bar */
.navigation {
    width: 100%;
    background: #DDD;
    border-bottom: 1px solid #aaa;
}

.navigation a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 20px;
}

.navigation a.logo {
    font-family: 'Lobster', cursive;   
    padding-top: 18px;
}

.navigation a:hover {
    background: black;
    color: white;
}

.navigation a.logout {
    float: right;
}
    
a.logout:hover, .logout:hover{
    background: red;
}


/* Container */
.container {
    width: 980px;
    margin: auto;
    padding: 20px;
}

.center {
    text-align: center;
}

/* Forms */
.form-display {
    background: #ddd;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.form-display label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
}

.form-display input[type="text"] {
    width: 100%;
    padding: 15px;
    height: 100%;
    font-size: 16px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0;
    border-style: solid;
    border: 1px solid #aaa;
}

.form-display textarea {
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0;
    border: 1px solid #aaa;
    padding: 15px;
    height: 150px;
}

.form-display input[type="submit"] {
    width: 500px;
    padding: 20px;
    background: white;
    border: 1px solid #aaa;
    display: block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 50px;
    margin: auto;
}

.form-display input[type="submit"]:hover {
    background: green;
    color: white;
    cursor: pointer;
}

.form-display select {
    width: 100%;
    padding: 20px;
    background: white;
    border: 1px solid #aaa;
    display: block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

/* Dashboard */
.arrivals {
    min-height: 400px;
}

/* Categorize Later!!! */
.waiting-time {
  clear:both;
}
body {
  margin-bottom: 40px;
}
html {
  position: relative;
}
.waiting-time {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  padding: 10px;
  background: #ddd;
  border-top: 1px solid #aaa;
  width: 100%;
}

.time-header {
  font-weight: bold;
}
